<?xml version='1.0' encoding='utf-8'?>
<plugin 
id="toast-plugin" 
version="1.0" 
xmlns="http://apache.org/cordova/ns/plugins/1.0"
 xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ToastPlugin</name>
    <js-module name="ToastPlugin" src="www/ToastPlugin.js">
        <clobbers target="cordova.plugins.ToastPlugin" />
    </js-module>


<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastPlugin" >
                <param name="android-package" value="com.ejemplo.toast.ToastPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/ToastPlugin.java" target-dir="src/com/ejemplo/toast" />
        <source-file src="src/android/Config.java" target-dir="src/com/ejemplo/toast" />
        <source-file src="src/android/NetworkingHelpers.java" target-dir="src/com/ejemplo/toast" />
        <source-file src="src/android/LivenessCheckProcessor.java" target-dir="src/com/ejemplo/toast" />
        <framework src="src/android/toast-plugin.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/facetec-sdk-9.7.33.aar" target="libs/facetec-sdk-9.7.33.aar" />

    </platform>


</plugin>

